<h1>New Free Code Camp Profile</h1>
<%= form_for @camper, controller: 'attractions', action: 'create' do |f| %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>


  <div class="form-group">
    <%= f.label :user, "Select Associated User Account" %>
    <%= f.collection_select :user_id, User.no_camper, :id, :email, :include_blank => true %>
  </div>

  <div class="actions form-group">
    <%= f.submit "Add Camper", :class => 'btn btn-primary' %>
  </div>

<% end %>
